@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #ffffff;

  /* Theme Colors */
  --color-background: #121212;
  --color-foreground: #ffffff;
  --color-card: #FDF9F0;
  --color-card-foreground: #000000;

  --color-accent-yellow: #FFD93D;
  --color-accent-orange: #FF8B66;
  --color-accent-green: #6BCB77;
  --color-accent-pink: #FF6B6B;
  --color-accent-blue: #4D96FF;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-fredoka), sans-serif;
}

.retro-card {
  background-color: var(--color-card);
  color: var(--color-card-foreground);
  border: 2px solid #000;
  border-radius: 1.5rem;
  box-shadow: 4px 4px 0px 0px #000;
  transition: all 0.1s ease;
}

.retro-card:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px 0px #000;
}

.retro-button {
  border: 2px solid #000;
  box-shadow: 4px 4px 0px 0px #000;
  border-radius: 9999px;
  /* full rounded */
  font-weight: bold;
  transition: all 0.1s ease;
}

.retro-button:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px 0px #000;
}